# Git
.git
.gitignore

# Docker 
.docker

# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*__pycache__/
.env/
.venv/
venv/
*.pyc
*.pyo
*.pyd

# Ignorar arquivos e pastas desnecessários
*.sqlite3
db.sqlite3
/static/
media/
mysql/
/nginx.conf/

